<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="https://maps.google.com/maps/api/js?sensor=false&key=AIzaSyCPNYEzaQUpNmDVVKraWo2sxvxMrvC6Gbk&callback=initializeMap">
    </script>
    <script type="text/javascript">
        document.displayAttendees = function displayAttendees(eventAttendees) {
            var attendees = document.getElementById("event_attendees");
            attendees.innerHTML = eventAttendees
        }
        function initializeMap() {
            var latlng = new google.maps.LatLng(1.300388, 103.770727);
            var myOptions = {
                zoom: 14,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                mapTypeControl: false,
                navigationControl: false,
                streetViewControl: false,
                backgroundColor: "#666970"
            };

            document.geocoder = new google.maps.Geocoder();
            document.map = new google.maps.Map(document.getElementById("map_canvas"),myOptions);


            document.goToLocation = function goToLocation(searchString) {
                document.geocoder.geocode( {'address': searchString}, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        document.map.setCenter(results[0].geometry.location);
                        var marker = new google.maps.Marker({
                            map: document.map,
                            position: results[0].geometry.location,
                            label: 'Organizer'
                        });
                    } else {
                        alert("Geocode was not successful for the following reason: " + status);
                    }
                });
            }
        }
    </script>
</head>
<body style="background-color:#383838;color:white;" onload="initializeMap()">
<div class="container">
    <div class="col-sm">
        <h3>Event Profile</h3>
        <p>{0}</p>
        <p>{1}</p>
        <p>{2}</p>
        <p>{3}</p>
        <p>{4}</p>
    </div>
    <div id="map_canvas" style="height: 400px;"></div>
    <div id="event_attendees" style="height: 400px;"></div>
</div>
</body>
</html>
